.sidebar {
    width: 250px; 
    background-color: #2c2f3b;
    color: white;
    height: 100vh;
    transition: transform 0.3s ease; 
    overflow: hidden;
    position: fixed;
    left: 0; 
    top: 0;
    z-index: 1000;
  }
  
  .sidebar.closed {
    transform: translateX(-100%); 
    }
  
  .sidebar.open {
    transform: translateX(0); 
  }
  
  .profile-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 100px;
    border-radius: 50%;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    margin: 20px 0;
    cursor: pointer;
  }
  
  .avatar {
    max-width: 350px;
  }
  .sidebarTexts {
    text-decoration: none; 
    color: inherit; 
    cursor: default;
  }
  